@import '../valo/valo';

.mytheme {
  @include valo;
}

.autocomplete {
  .autocomplete-select {
     overflow: hidden !important;
     font-size: 15px;
     width: 200px;
     padding: 5px;
   }
  } 
